*{
    margin: 0px;
    padding: 0px;
}
body{
    
    background-color: rgba(231, 227, 235, 0.909);
}
.opacity{ opacity: 30%;

}
#container{
    
    background-color: white;
    width: 700px;
   border-radius: 20px;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.047);

    

}
#titulo{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
    border-bottom:1px 
    solid #0000002b; ;
}
.pequeno1{
    margin-top: 2px;
    display: block;
    margin-bottom: 30px;
    font-size: 0.55em;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-titulo{

    color: rgba(50, 50, 223, 0.764);
    margin: 15px;
  
}
.texto{
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}
/* container da imagem....*/
#img-container{
   margin: 20px auto 0px ; 
   
}
#imagem{
    width: 700px;
    height: 310px;
    
    margin: 10px auto 0px;

}

/*meu Sub-container apos a imagem....*/
#sub-container{
    margin-top: 0px;
}
.img-texto{
    margin-top: 0px;
    background-color: rgba(128, 128, 128, 0.373);
    padding: 10px;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.btn-compra{
    margin-left: 100px;
    font-weight: bold;
    height: 25px;
    background-color: rgba(17, 176, 17, 0.715);
    margin-right: 50px;
    border-radius: 3px;
    border: none;
    width: 100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.318);
}
.btn-compra:hover{
    background-color: darkgreen;
}
.span-p{
   
    
    background-color: azure;
    padding: 20px;
    border-radius: 6px;

    font-size: 1.2em;
}
.pequeno2{
    font-size: 0.7em;
    border-bottom: 1px solid #00000052;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*minha tabela...... */
table{
    margin-left: 50px;
    background-color: rgba(128, 128, 128, 0.373);
    padding: 10px;
    width: 600px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);


}
thead{
    color: blue;
    font: 1em sans-serif;
   
}
tbody > tr:nth-child(2n){
    background-color: aquamarine;

}
/*estilização do meu aquivo popup.html */
.img-buy{
    width: 520px ;
    height:230px ;
    margin:10px 50px 0px;
}
.span-buy{
    font-size: 0.9em;
    background-color: none;
    margin: 20px 50px 0px
}
.text-buy{
    margin: 10px 50px;
}
#sub-total{ padding: 0px 50px;

}
#quantidade{
    width:50px ;
    -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield;

}
#btn-adicinar-quatidade{
    width: 25px;
    background-color: aqua;
    border-radius: 5px;
}
#btn-subtrair-quantidade{
    width: 25px;
    background-color: aqua;
    border-radius: 5px;
}
#btn-adicinar-quatidade:hover{
    transition: 1s;
   border: 2px solid rgb(48, 48, 173);
   background-color: rgba(0, 0, 255, 0.211);
}
#btn-subtrair-quantidade:hover{
    transition: 1s;
   border: 2px solid rgb(48, 48, 173);
   background-color: rgba(0, 0, 255, 0.211);
}



   

