*{
    margin: 0px;
    padding: 0px;

   

}
#box-0{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 50px;
    
   
   
}

.box1{
 background-color: chartreuse;
 text-align: center;
    color: rgb(197, 16, 16);
    font-weight: bolder;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid black;
 
 
 }
 .box2{
 background-color: rgb(255, 106, 0);
 text-align: center;
    color: rgb(197, 16, 16);
    font-weight: bolder;
    width: 160px;
    height: 160px;
    border-radius: 5px;
    border: 2px solid black;
    

 
 }
.box2-1{
background-color: bisque;
width: 160px;
height: 120px;
display: flex;
align-items: center;
justify-content: space-between;

}
.box3{
 background-color: rgb(255, 0, 191);
 text-align: center;
    color: rgb(197, 16, 16);
    font-weight: bolder;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
 


 }
.box4{
 background-color: rgb(17, 0, 255);
 text-align: center;
    color: rgb(197, 16, 16);
    font-weight: bolder;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid black;
 
 }






 /* */


 /**/